﻿@using System.Web.Script.Serialization
@using Microsoft.AspNet.Identity
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model AngularDashboardTest.ViewModels.DashboardViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="DashboardApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.2/angular.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/g/jquery.ui@1.10"></script>    
    <script type="text/javascript" src="~/Scripts/ui.sortable.js"></script>
    
    <script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>

    <script type="text/javascript" src="~/Scripts/app/app.js"></script>
    <script type="text/javascript" src="~/Scripts/app/dashboard-controller.js"></script>
    <script type="text/javascript" src="~/Scripts/app/widget-data-factory.js"></script>
    <script type="text/javascript" src="~/Scripts/app/chart-factory.js"></script>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body ng-controller="DashboardController">

    <div class="main">
        <div class="top">
            <h1>HROffice 2.0 Dashboard BETA</h1>
            <span>@User.Identity.GetUserName()</span>
        </div>
        <div class="left">
            <ul class="menu">
                @foreach(var app in Model.MenuViewModel.Applications)
                {
                    <li>
                        <span>@app.Name</span>
                        <ul>
                            @foreach (var widget in app.Widgets)
                            {
                                <li><a ng-click="addWidgetToApi(@widget.Id)">@widget.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="dashboard">
            <div ui-sortable="sortableOptions" ng-model="widgets">
                <div ng-repeat="widget in widgets" class="tile block-size-{{widget.size}}">
                    <div class="single-number-widget" ng-show="widget.data.value > -1">
                        <span class="number">{{widget.data.value}}</span>
                    </div>

                    <div class="chart-widget" ng-show="widget.data.chart">
                        <div google-chart chart="widget.data.chart" ng-style="widget.data.chart.cssStyle"></div>
                    </div>

                    <span class="subTitle">{{widget.subTitle}}</span>
                </div>
            </div>
        </div>
    </div>
    @{
        var jsonSerializerSettings = new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()};
    }
    <script type="text/javascript">        
        var widgetsPreload = @Html.Raw(JsonConvert.SerializeObject(Model.ActiveWidgets, Formatting.Indented, jsonSerializerSettings));
    </script>
</body>
</html>
