﻿ body
        {
            background-color: rgb(220,220,220);
                        color: white;
            font-family: "Calibri";
        }

        .main
        {
            position: absolute;
            left: 50px;
            top: 50px;
            bottom: 50px;
            right: 50px;
            background-color: rgb(240,240,240);
            box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
        }

        .top {
            background-color: #454587;
            position: absolute;
            left: 0;
            height: 50px;
            right: 0;
            top: 0;
        }

        .top h1 {
            margin: 0;
            padding: 0;
            font-weight: normal;
            margin-left: 255px;
            margin-top: 5px;
        }

        .top span {
            position: absolute;
            right: 0;
            top: 0;         
            margin-top: 15px;
            margin-right: 15px;
            text-align: right;           
        }

        .left
        {
            background-color: #9b9bce;
            position: absolute;
            left: 0;
            top: 50px;
            bottom: 0;
            width: 250px;
        }

            .left .menu {
                list-style: none;
                padding-left: 15px;
            }

        .dashboard
        {
            background-color: #d3d3f8;
            position: absolute;
            left: 250px;
            top: 50px;
            bottom: 0;
            right: 0;
            padding: 10px;
        }

        .block-size-1 {
            width: 300px;
            height: 300px;            
        }

        .block-size-2 {
            width: 620px;
            height: 300px;            
        }

        .tile {
            background-color: #9b9bce;
            position: relative;
            margin:10px;
            display: inline-block;
        }

            .tile .subTitle {
                font-size: 15px;
                position: absolute;
                left: 5px;
                bottom:5px;
            }

            .single-number-widget .number {
                font-size: 150px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom:0;
                text-align: center;
                line-height: 300px;
            }

            .chart{
                width: 300px;
                height: 300px;
                position: absolute;
            }

            .half-opac {
                opacity: 0.3;
            }

            .sortableBoard {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom:0;                
            }